= render 'layouts/parts/action_menu/invite'
= render 'layouts/parts/action_menu/recommend'
= render 'layouts/parts/action_menu/feedback'
= render 'social_interactions/share' unless @pages.nil? && @social_session.nil?