<!-- PageRenter campaign -->
<div id="brand_campaign" class="alert alert-info campaign_content">
  <header>
    <div class="float_right">
      <%= render 'action_menu/socialbuttons' %>
    </div>
    <a href="/" class="brand">
      <span class="r_advertiser_brand">Page</span><span class="r_publisher_brand">Renter</span>
    </a>
    Ganhe fichas para convidar amigos e montar grupos de compartilhamento
  </header>
  <div class="body row">
    <div class="col-md-6">
      <img src="/assets/page_campaign_adv.png"/>
    </div>
    <div class="col-md-6">
      <div class="campaign_attr">
        <strong>Recompensa: </strong>
        <span class="badge alert-danger">+1</span>
        ficha de convite
      </div>

      <div class="campaign_attr campaign_link">
        <strong>Slogan: </strong>
        <span>Repassamos nossos lucros a você e seu amigo</span>
      </div>

      <div class="campaign_attr campaign_link">
        <strong>Social phrase: </strong>
        <span>Vamos todos ganhar mais se formos mais</span>
      </div>

      <div class="campaign_attr campaign_link">
        <strong>Redirect Link: </strong>
        <a href="http://pagerenter.com.br">http://pagerenter.com.br</a>
        <i class="fa fa-copy"></i>
      </div>
    </div>
  </div>
</div>