<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

  <script>
      function redirecter() {
          index_path = 'publishers';
          redirect = document.URL;

          // Validate if have any parameter (should have at least the idioma on URL, if not, it is putted there)
          if(redirect.indexOf('/') < 0) redirect += navigator.language.substring(0,2);

          // Validate if put the path to index
          if(redirect[redirect.length-1] == '/') redirect += index_path;
          else redirect += '/' + index_path;

          return redirect;
      }
  </script>
</head>

<body>
    <%
       param = params['path']
       if param.length == 2 && File.open(Rails.root.join('config', 'locales', "#{params['path']}.yml").to_s).is_a?(File)
    %>
        <script>
            location.href =  redirecter();
        </script>
    <%
       end
    %>
</body>
</html>