javascript:
  var objResp = {
    secret: "#{@conversion_hash[:secret]}",
    ad_id: "#{@conversion_hash[:ad_username]}",
    publisher_id: "#{@conversion_hash[:publisher_username]}"
  };

  parent.postMessage(objResp, '*');
