<!-- InviteModal-->
<div class="modal fade" id="new_social_session" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel"> <%= t(:publisher_invite)[:title] %> </h2>
      </div>
      <div class="modal-body">
        XPTO
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> <%= t(:btn_modal_close) %> </button>
        <button type="button" class="btn <%= current_button %>"> <%= t(:btn_modal_okay) %> </button>
      </div>
    </div>
  </div>
</div>
<!-- /InviteModal -->