<div class="social_invite">
  <button class="btn btn-facebook"> <i class="fa fa-facebook"></i> </button>
  <button class="btn btn-twitter"> <i class="fa fa-twitter"></i> </button>
  <button class="btn btn-linkedin"> <i class="fa fa-linkedin"></i> </button>
  <button class="btn btn-google-plus"> <i class="fa fa-google-plus"></i> </button>
  <button class="btn btn-foursquare"> <i class="fa fa-foursquare"></i> </button>
  <button class="btn btn-youtube"> <i class="fa fa-youtube"></i> </button>
</div>