doctype html
/! ng-app="PageRenter"
html
  head = render 'layouts/parts/app_head'
  body class="r_#{role_name}"
    /! Navbar
    = render 'layouts/parts/navbar'

    .container.box
      /! Controller header
      = render "#{params[:controller]}/header"

      /! Flash with app feedback to the user
      = render 'layouts/parts/flash_alert'

      /! Action body
      = yield

      /! Modals
      = render 'layouts/parts/modals'

    footer#includes_js
      = render 'layouts/parts/app_footer'